wp-content/themes/mox/assets/scss/options.scss
wp-content/themes/mox/assets/css/static.css
wp-content/themes/mox/single-templates/content/content.php
wp-config.php
.idea
.idea/workspace.xml
.idea
.htaccess
nbproject



